
<nav class="navbar z-depth-2">
    <div class="brand">
        <h5>CodeTopia</h5>
    </div>
    <ul class="nav-links">
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'elements' %}">Elements</a></li>
        <li><a href="{% url 'blog:blog_homepage' %}">Blog</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'account:user_dashboard' request.user.username %}">Dashboard</a></li>
            <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account:user_login' %}">Login</a></li>
            <li><a href="{% url 'account:create_user' %}">Sign up</a></li>
        {% endif %}
    </ul>
    <div class="toggler">
        <div class="l1"></div>
        <div class="l2"></div>
        <div class="l3"></div>
    </div>
</nav>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}