{% extends 'base/base.html' %}

{% block header %}

{% endblock header %}

{% block content %}

<div class="container">

<ul>
    <li><a href="{% url 'blog:create_blog' %}">Create blog</a></li>
</ul>

<div>
    <small><a href="{{ blog.get_edit_url }}">edit</a></small>
    {% autoescape off %}
        <h3>{{ blog.title|safe }}</h3>
        <h5>{{ blog.subject|safe }}</h5>
        <p>{{ blog.body|safe }}</p>
    {% endautoescape %}
</div>

</div>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}
