// Forms
// Form related sass properties
// --------------------------------------------------------------------

// Forms
.form-container {
    padding: 20px;
}

.form-control {
    display: block;
    padding: $input-padding-y $input-padding-x;
    width: 100%;

    &:focus {
        box-shadow: $z-depth-5;
    }
}

.errorlist {
    color: $input-error-color;
}

.helptext{
    font-size: 12px;
    color: gray;
}
